.bg-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.box1 {
  background-color: #fbbf24;
  color: #ffffff;
  height: 60px;
  width: 60px;
  font-family: 'Bree Serif';
}

.box2 {
  background-color: #38bdf8;
  color: #ffffff;
  height: 120px;
  width: 120px;
  font-family: 'Bree Serif';
}

.box3 {
  background-color: #ec4899;
  color: #ffffff;
  height: 180px;
  width: 180px;
  font-family: 'Bree Serif';
}

.heading {
  font-family: 'Roboto';
  text-align: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
